.navigate {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 3px 5px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
}

.navigate:link { color: black; }

.but{
    margin-left:10px;
}
@media (max-width:767px){
    .but{
        margin-left:10px;
        margin-top:10px;
    }
}

